<div class="featuredbox">
	<div class="featuredbox__content">
		<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget mi dignissim, pharetra mi id, finibus eros. Suspendisse potenti. Nam ullamcorper vulputate porttitor. Curabitur aliquam, quam ac mollis hendrerit, ante sem semper libero, vitae pellentesque quam nulla ut lacus. Aliquam sit amet urna pretium, dictum est at, sagittis nunc. In dictum pharetra sollicitudin. Sed ut nibh eu orci bibendum elementum. Nunc eget aliquam ante. Aliquam laoreet dictum ligula ut vulputate.</span>

		<button type="button" class="btn">Button text</button>
	</div>
</div>