<footer class="footer flex-container align-center">
	<div  class="footer__copyright">
		<a href="http://susana-taranco.me" target="_blank"><p class="footer__copyright__text">© 2017 Susana Taranco</p></a>
	</div>
	<div class="footer__social">
		<ul class="footer__social__list inline nobullets">
			<li><a href="https://github.com/staranco" target="_blank" class="p-sm"><i class="icon ion-social-github"></i></a></li>
			<li><a href="https://www.linkedin.com/in/susanataranco" target="_blank" class="p-sm"><i class="icon ion-social-linkedin"></i></a></li>
			<li><a href="http://susana-taranco.me" target="_blank" class="p-sm"><i class="icon ion-android-happy"></i></a></li>
		</ul>
	</div>
</footer>