@import '../base/variables';
button {
  &.btn {
    position: relative;
    z-index: 1;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 300;
    border: 0;
    cursor: pointer;
    font-size: 12px;
    margin: 0;
    overflow: hidden;
    background: linear-gradient(to right, rgb(230, 114, 7) 0%, rgb(239, 78, 123) 50%, rgb(161, 102, 171) 100%);
    transform: translate3d(0, 0, 0);
    transition: all .4s ease-out;

    &::before {
        content: '';
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        background: rgb(255, 255, 255);
        position: absolute;
        top: 2px;
        left: 2px;
        border-radius: 2px;
        z-index: -1;
    }
    
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: block;
        transition: all .4s ease-out;
        background: linear-gradient(to right, rgb(230, 114, 7) 0%, rgb(239, 78, 123) 5%, rgb(161, 102, 171) 50%);
        z-index: -3;
        opacity: 0;
    }
    
    & .btn__text {
        position: relative;
        display: block;
        transform: translateY(-3px);
        font-family: $secondary-fontstack;
        background-size: cover;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(0, 0, 0, 0);
        background-clip: text;
        text-fill-color: transparent;
        background-image: linear-gradient(to right, rgb(230, 114, 7) 0%, rgb(239, 78, 123) 50%, rgb(161, 102, 171) 100%);
    }

    &:active {
        & .btn__text {
            transform: translateY(0px);
        }
    }

    & .btn__line {
        position: absolute;
        left: 0;
        bottom: 7px;
        display: block;
        width: 200%;
        height: 2px;
        background: linear-gradient(to right, rgb(230, 114, 7) 10%, rgb(239, 78, 123) 15%, rgb(161, 102, 171) 50%);
        z-index: -1;
    }

    &:active {
        & .btn__line {
            bottom: 0;
        }
    }
    
    &.filled {

        &::before {
            background: transparent;
        }
    
        & .btn__text {
            background-size: cover;
            -webkit-text-fill-color: white;
            text-fill-color: white;
            background-image: none;
        }

        & .btn__line {
            background: white;  
            left: 50%;
            transform: translateX(-50%);
            width: 98%;
            height: 1px;
        }
    }
  
    &.xl {
        padding: 12px 22px;
        font-size: 14px;
        font-weight: 600;
    }
  }
}