@import '../base/variables';
button {
  &.btn {
    border-radius: 5px;
    padding: 10px 15px;
    background: linear-gradient(-135deg,#F37055 0%,#EF4E7B 52%,#A166AB 100%);
    margin-bottom: 30px;
    color: white;
    font-family: $secondary-fontstack;
    font-weight: 500;
    border: 0;
    cursor: pointer;
    font-size: 12px;
    margin: 0;
  }
}