.directory {
	display: none;
	position: fixed;
  top: 50px;
  left: 75%;
	padding: 0 40px;

	& .directory__numberbullet {
		position: absolute;
		top: 30px;
		left: 0;
		transform: translateX(30%);
		width: 50px;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
  		background: #fbfbfb;
		font-family: $secondary-fontstack;
  		font-size: 20px;
  		color: #444;
  		font-weight: 700;
  		border-radius: 100%;
  		border: 1px solid #eeeeee;
	}

	& .directory__content {
		padding: 20px 20px 20px 40px;
		border-left: 1px solid #eeeeee;

		& .directory__title {
			font-weight: 700;
			color: $primary-color;
			margin: 0 0 20px 0;
			padding: 0;
		}

		& .directory__content__list {
			& .directory__content__list__item {
				padding-left: 0;

				&::before {
					content: '';
				}

				& a.scrollto {
					font-size: 12px;
					padding: 3px 0;
					display: block;
					transition: .3s color ease-in-out;

					& em {
						font-size: 12px;
						color: $primary-color;
						transition: .3s color ease-in-out;
					}

					&:hover {
						color: rgb(239, 78, 123);

						& em {
							color: rgb(239, 78, 123);
						}
					}
				}
			}
		}
	}
}


@media (min-width: 1024px) {
	.directory {
		display: block;

		&:not(.directory__content__list__item a.scrollto) {
			pointer-events: none;
		}
	}
}
