.grid {
	display: grid;
	grid-template-rows: auto;
	grid-gap: 30px;
  	grid-template-columns: repeat(2, 1fr);
}

.flex-container {
	display: flex;
	justify-content: space-between;
	margin: 0;
	flex-direction: row;
	flex-wrap: wrap;
}

.no-wrap {
	flex-wrap: nowrap;
}

.direction-row {
	flex-direction: row;
}

.direction-column {
	flex-direction: column;
}

.justify-start {
	justify-content: flex-start;
}

.justify-center {
	justify-content: center;
}

.justify-end {
	justify-content: flex-end;
}

.justify-between {
	justify-content: space-between;
}

.justify-around {
	justify-content: space-around;
}

.align-bottom {
	align-items: flex-end;
}

.align-center {
	align-items: center;
}

.align-top {
	align-items: flex-start;
}

.align-baseline {
	align-items: baseline;
}