@import '../base/variables';
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 50px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transform: width .3s ease-in-out;
  transition: transform .3s cubic-bezier(0.22, 0.41, 0, 0.96), z-index 0s ease-in-out;
  background: white;

  & .page__name {opacity: 0;
    margin: 0 auto;
    text-align: center;
    display: block;
    padding: 3px;

    & .page__name__text {
      width: 200px;
      position: relative;
      margin: 0;
      display: inline-block;
      background-size: cover;
      -webkit-background-clip: text;
      -webkit-text-fill-color: rgba(0, 0, 0, 0);
      background-clip: text;
      text-fill-color: transparent;
      background-image:
        linear-gradient(
          90deg,
          rgb(247, 149, 51) 0%,
          rgb(243, 112, 85) 15%,
          rgb(239, 78, 123) 30%,
          rgb(161, 102, 171) 44%,
          rgb(80, 115, 184) 58%,
          rgb(16, 152, 173) 72%,
          rgb(7, 179, 155) 86%,
          rgb(109, 186, 130) 100%
        );
      font-size: 2em;
    }
  }
}

.resizeev .header {
  z-index: 0;
}

@media (min-width: 640px) {
  .header {
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 230px;
    height: auto;
    z-index: 9;

    & .page__name {
      & .page__name__text {
        font-size: 2.5em;
        padding: 20px;
        margin-left: 0%;
        transition: margin-left .3s cubic-bezier(0.22, 0.41, 0, 0.96);

        &::before {
          content: '<{}>';
          font-size: .6em;
          position: absolute;
          top: 20px;
          left: -100%;
          transform: translateX(-50%);
          transition: left .3s cubic-bezier(0.22, 0.41, 0, 0.96);
        }
      }
    }
  }

  .resizeev .header {
    transform: translateX(-230px);
    z-index: 9;

    & .page__name {
      & .page__name__text {
        margin-left: -200%;

        &::before {
          left: 102%;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .header {
    width: 245px;

    & .page__name {
      & .page__name__text {
        font-size: 3em;
      }
    }
  }
}
