.home {
  padding: 30px;
  
  &.grid {
    grid-template-columns: 1fr;
  }
  
  @media (min-width: 1024px) {
    &.grid {
      grid-template-columns: 70% 30%;
    }
  }

  & .home__title {
    max-width: 420px;
    margin: 0 auto;
    padding: 0 0 10px 0;
    text-align: center;
    font-weight: 300;
  }

  & .home__subtitle {
    margin: 0;
    padding: 0 0 15px 0;
    text-align: center;
  }
  
  & .home__social {

    & .icon {
      font-size: 24px;
    }
  }

  & .home__content {
    & > * {
      opacity: 0;

      &.animate {
        opacity: 1;
      }
    }

    & > .animate {
      animation: fadeInUp .5s ease-in-out;
    }
  }
}
