.page {
  position: relative;

  & .content {
    position: relative;
    right: 0;
    height: auto;
    width: auto;
    padding-top: 47px;
    transition: width .3s cubic-bezier(0.22, 0.41, 0, 0.96);
  }

  @media (min-width: 640px) {
    & .content {
      position: absolute;
      overflow-y: auto;
      height: 100vh;
      width: 100vw;
      top: 0;
      padding-top: 0;
      width: calc(100vw - 230px)
    }

    &.resizeev .content {
        width: calc(100vw - 50px);
    }
  }

  @media (min-width: 1024px) {
    & .content {
      overflow-y: auto;
      height: 100vh;
      top: 0;
      width: calc(100vw - 245px)
    }
  }
}
