.post {
  padding: 30px;

  & .post__title {
    margin: 0;
    padding: 0 0 15px 0;
  }

  & .post__subtitle {
    margin: 0;
    padding: 0 0 5px 0;
  }

  & > * {
    opacity: 0;

    &.animate {
      opacity: 1;
    }
  }

  & > .animate {
    animation: fadeInUp .5s ease-in-out;
  }
}
