@import '../base/variables';
.header {
  position: fixed;
  z-index: 7;
  top: 0;
  left: 0;
  height: 50px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transform: width .3s ease-in-out;
  background: white;

  & .page__name {
    margin: 0 auto;
    text-align: center;
    display: block;
    padding: 3px;

    & .page__name__text {
      width: 200px;
      position: relative;
      margin: 0;
      display: inline-block;
      background-size: cover;
      -webkit-background-clip: text;
      -webkit-text-fill-color: rgba(0, 0, 0, 0);
      background-clip: text;
      text-fill-color: transparent;
      background-image:
        linear-gradient(
          90deg, 
          rgb(247, 149, 51) 0%, 
          rgb(243, 112, 85) 15%, 
          rgb(239, 78, 123) 30%, 
          rgb(161, 102, 171) 44%, 
          rgb(80, 115, 184) 58%, 
          rgb(16, 152, 173) 72%, 
          rgb(7, 179, 155) 86%, 
          rgb(109, 186, 130) 100%
        );
      font-size: 2em;
    }
  }
}

.menu {
  position: fixed;;
  z-index: 8;
  top: 0;
  left: 0;
  height: 100%;

  &::before {
    content: '';
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease-in-out;
  }

  & .menu__list {
    position: absolute;
    height: 100vh;
    width: 245px; 
    padding: 0;
    background: #fff;
    display: flex;
    flex-direction: column;
    transform: translateX(-102%);
    transition: transform .3s cubic-bezier(0.22, 0.41, 0, 0.96);

    & .menu__list__item {
    position: relative;
    padding: 0;

      &::before {
        content: '';
      }

      & .menu__list__item__link {
        padding: 20px 50px 20px 40px;
        display: block;
        background: #fff;
        transition: background .3s ease-in-out;

        &::before {
          position: absolute;
          top: 50%;
          left: 20px;
          transform: translateY(-50%);
          display: block;
          font-family: $icons-fontstack;
          color: $text-color;
          font-size: 24px;
          content: '\f3e6';
        }

        & .menu__list__item__link__subtitle {
          display: block;
          font-size: 11px;
          padding-left: 0;
          transition: padding 1s cubic-bezier(0.22, 0.41, 0, 0.96) .1s;
        }

        & .menu__list__item__link__title {
          display: block;
          font-family: $secondary-fontstack;
          color: $primary-color;
          padding-left: 0;
          transition: padding 1s cubic-bezier(0.22, 0.41, 0, 0.96);
        }

        &:hover {
          background: #eee;

          & .menu__list__item__link__subtitle {
            padding-left: 10px;
          }

          & .menu__list__item__link__title {
            padding-left: 10px;
          }
        }
      }
    }
  }
}

.resizeev .menu {
  &::before {
    opacity: 1;
    pointer-events: all;
  }

  & .menu__list {
    transform: translateX(0);
  }
}

.burger {
  position: fixed;
  top: 3px;
  left: 3px;
  flex-direction: column;
  padding: 15px;
  background-image:
    linear-gradient(
      180deg, 
      rgb(109, 186, 130) 0%,  
      rgb(16, 152, 173) 100%,
    );
  z-index: 10;
  transition: padding .3s cubic-bezier(0.4, 0, 0.2, 1);

  & .burger__line {
    width: 20px;
    height: 2px;
    margin-bottom: 2px;
    background: white;
    display: block;
    transform-origin: 50%;
    transform: scaleX(1) translateZ(0);
    transition:
      transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.1s,
      opacity 0.1s ease-in-out 0.1s,
      width 0.1s ease-in-out;

    &.burger__line_top {
    }

    &.burger__line_middle {
    }

    &.burger__line_bottom {
      margin-bottom: 0;
    }
  }

  &:active .burger__line {
    transform: scaleX(1.1) translateZ(0);
  }
}   

.resizeev .burger {
  .burger__line {

    &.burger__line_top {
      transform:  scaleX(1) translateY(4px) rotateZ(-135deg);
    }

    &.burger__line_middle {
      opacity: 0;
    }

    &.burger__line_bottom {
      transform: scaleX(1) translateY(-4px) rotateZ(135deg);
    }
  }
}

@media (min-width: 640px) {
  .header {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 230px;
    z-index: 9;
    background: transparent;

    & .page__name {
      & .page__name__text {
        font-size: 2.5em;
        padding: 20px;
        margin-left: 0%;
        transition: margin-left .3s cubic-bezier(0.22, 0.41, 0, 0.96);

        &::before {
          content: '<{}>';
          font-size: .6em;
          position: absolute;
          top: 20px;
          left: -100%;
          transform: translateX(-50%);
          transition: left .3s cubic-bezier(0.22, 0.41, 0, 0.96);
        }
      }
    }
  }

  .resizeev .header {
    & .page__name {
      & .page__name__text {
        margin-left: -200%;

        &::before {
          left: 102%;
        }
      }
    }
  }

  .menu {
    & .menu__list {
      width: 230px;
      padding: 140px 0 0 0;
      transform: translateX(0);
    }

    &::before {
      pointer-events: none;
      opacity: 0;
    }
  }

  .resizeev .menu {
    &::before {
      pointer-events: none;
      opacity: 0;
    }

    .menu__list {
      transform: translateX(-180px);
    }
  }

  .burger {
    top: 50%;
    left: 180px;
    padding: 15px 15px calc(100vh - 50vh) 15px;
    transition: left .3s cubic-bezier(0.22, 0.41, 0, 0.96) .05s, padding .3s cubic-bezier(0.22, 0.41, 0, 0.96) .05s;

    &.scrollev {
      padding: 15px;
    }

    & .burger__line {

      &.burger__line_top {
        transform: scaleX(1.1) translateZ(0);
        width: 10px;
      }

      &.burger__line_middle {
        opacity: 1;
      }

      &.burger__line_bottom {
        transform: scaleX(1.1) translateZ(0);
        width: 10px;
      }
    }

    &:active .burger__line {

      &.burger__line_top {
        transform: scaleX(1) translateY(7px) rotateZ(-150deg);
        width: 10px;
      }

      &.burger__line_middle {
        opacity: 1;
      }

      &.burger__line_bottom {
        transform: scaleX(1) translateY(-7px) rotateZ(150deg);
        width: 10px;
      }
    }
  }

  .resizeev .burger {
    left: 0;

    & .burger__line {
      &.burger__line_top {
        transform:  scaleX(1) translateY(4px) rotateZ(-180deg);
        width: 20px;
      }

      &.burger__line_middle {
        opacity: 0;
      }

      &.burger__line_bottom {
        transform: scaleX(1) translateY(-4px) rotateZ(90deg);
        width: 20px;
      }
    }

    &:active .burger__line {
      &.burger__line_top {
        transform:  scaleX(1.2) translateY(4px) rotateZ(-180deg);
      }

      &.burger__line_bottom {
        transform: scaleX(1.2) translateY(-4px) rotateZ(90deg);
      }
    }
  }
}

@media (min-width: 1024px) {
  .header {
    width: 245px;

    & .page__name {
      & .page__name__text {
        font-size: 3em;
      }
    }
  }

  .menu {
    & .menu__list {
      width: 245px;
    }
  }

  .burger {
    top: 50%;
    left: 195px;
  }
}
