* {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  font-size: 14px;
  transition: font-size .3s ease-in-out;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: $primary-fontstack;
  vertical-align: baseline;
  font-weight: 400;
  color: $text-color;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

//Selection
::selection {
  background: rgba(39, 157, 255, .3); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgba(39, 157, 255, .3); /* Gecko Browsers */
}

// Links
a {
  text-decoration: none !important;
  transition: color ease-in-out .3s;
  cursor: pointer;
  font-weight: 400;
  color: $primary-color;
}

// Headings
h1, h2, h3, h4, h5, h6 {
  font-family: $secondary-fontstack;
  font-weight: 400;
  line-height: 1;
  color: inherit;
}

h1, h2, h3 {
  margin-top: 1.5em;
  margin-bottom: 1em;
}

h4, h5, h6 {
  margin-top: 1em;
  margin-bottom: 1em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1.1em;
}

p {
  margin: 1em 0;
}

small {
  font-size: .7em;
}

strong {
  font-weight: 700;
}

ul {
  list-style: none;

  &.columns {

    &.columns-2 {
      columns: 2;
    }

    &.columns-3 {
      columns: 3;
    }
  }
  
  & li {
    position: relative;
    padding-left: 12px;
    padding-bottom: 5px;

    &::before {
      position: absolute;
      top: 4px;
      left: 0;
      display: block;
      font-family: $icons-fontstack;
      font-size: 10px;
      content: '\f3a7';
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  &.inline {
    & li {
      display: inline-block;
    }
  }

  &.nobullets {
    & li {
    padding-left: 0;

      &::before {
        content: '';
      }
    }
  }
}

@media (max-width: 768px) {
  ul {
    &.columns {

      &.columns-2 {
        columns: 1 !important;
      }

      &.columns-3 {
        columns: 1 !important;
      }
    }
  }
  ol {
    &.columns {
      &.columns-2 {
        columns: 1 !important;
      }

      &.columns-3 {
        columns: 1 !important;
      }
    }
  }
}

ol {
  counter-reset: li;
  margin-left: 0;
  padding: 20px;

  &.columns {

    &.columns-2 {
      columns: 2;
    }

    &.columns-3 {
      columns: 3;
    }
  }
  
  & li {
    position: relative;
    margin: 0 0 20px 0;
    padding-left: 20px;
    list-style: none;

    &:last-of-type {
      margin-bottom: 0;
    }

    &::before {
      content: counter(li);
      counter-increment: li;
      position: absolute;
      top: 50%;
      left: 5px;
      z-index: 2;
      transform: translateY(-50%);
      display: block;
      color: $text-color;
      font-weight: 600;
      font-size: 9px;
      font-family: $secondary-fontstack;
      text-align: center;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      z-index: 1;
      display: block;
      border-radius: 100%;
      box-sizing: border-box;
      width: 14px; 
      height: 14px;
      border: 1px solid $text-color;
      transform: translateY(-50%);
    }
  }
}

//Code

code {
  display: block;
  background: #eee;
  padding: 20px 20px 20px 40px;
  font-family: monospace;
  box-shadow: 20px 0 0 0 #AAA inset;

  &.inline {
    display: inline-block;
    padding: 2px 5px;
    box-shadow: none;
    font-size: 12px;
  }
}
